<div class="container">
  <div class="row mt-5">
    <div class="col-12 d-flex justify-content-center">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary mr-3">
          <i class="fa fa-home" aria-hidden="true"></i>
          General Informations
        </button>
        <button type="button" class="btn btn-secondary mr-3">
          <i class="fa fa-map" aria-hidden="true"></i>
          Location
        </button>
        <button type="button" class="btn btn-secondary mr-3">
          <i class="fa fa-money" aria-hidden="true"></i>
          Rewards
        </button>
        <button type="button" class="btn btn-secondary mr-3">
          <i class="fa fa-bed" aria-hidden="true"></i>
          Hotels
        </button>
        <button type="button" class="btn btn-secondary mr-3">
          <i class="fa fa-usd" aria-hidden="true"></i>
          Ticket price
        </button>
      </div>
    </div>
  </div>
</div>
