<section>
  <div class="jumbotron pic1">
    <div class="container text-light pt-5">
      <h1 class="main mb-0 mt-5">Ready Event</h1>
      <p class="lead">The solution for your robot event</p>
      <button type="button" class="btn btn-md btn-primary" (click)="access()">
        <i class="fa fa-ticket mr-2"></i>
        <span>Buy your ticket</span>
      </button>
    </div>
  </div>
</section>

<section>
  <div class="container pt-5">
    <div class="content text">
      <div class="row border-0">
        <div class="col-12 col-md-4 col-lg-3 text-center order-1 order-md-2">
          <img src="assets/images/faq.png" class="centered-image faq-icon" />
        </div>
        <div class="col-12 col-md-8 col-lg-9 order-2 order-md-1">
          <h3 class="page-title">What is ready event?</h3>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae mi tempus, aliquam
            nulla id, tincidunt metus. Suspendisse sed lorem quis nunc condimentum rutrum. Donec congue turpis id porta
            accumsan. In pulvinar dignissim erat in maximus. Nulla ex tortor, semper quis vestibulum ac, luctus ac orci.
            Quisque quis leo mattis, sodales lorem et, convallis mauris. Etiam nisi quam, sodales non sollicitudin ac,
            cursus in ipsum. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
        </div>
      </div>
    </div>
    <div class="content text">
      <div class="row border-0">
        <div class="col-12 col-md-4 col-lg-3 text-center order-1">
          <a href="https://goo.gl/maps/ixP3wWgwTVAkqBwT8" target="_blank">
            <img src="assets/images/location-pin.png" class="centered-image location-pin" />
          </a>
        </div>
        <div class="col-12 col-md-8 col-lg-9 order-2">
          <h3 class="page-title">Where is the event?</h3>
          <p class="lead">Sed placerat sapien in tincidunt hendrerit. Donec porttitor erat eget risus gravida, et
            pellentesque nulla lobortis. Morbi consequat lectus nec diam tincidunt, facilisis hendrerit ligula
            pellentesque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam
            eget arcu mollis, pharetra orci vitae, ullamcorper neque. Quisque tristique lorem eu blandit faucibus. Sed
            ullamcorper hendrerit convallis.</p>
        </div>
      </div>
    </div>
  </div>
</section>
